.ui.cards {
    .centered.content {
        .ui.active.centered.inline.small.loader {
            margin: 0 4px; 
            display: inline-block;
        }
    }
}
.ui.active.centered.inline.loader {
    margin-top: 80px;
}

.ui.page.content.container {
    padding-top:4em;
}