<div *ngIf="isLoading || !profile.uuid">
  <div class="ui active centered inline loader"></div>
</div>
<div class="pusher" *ngIf="!(isLoading || !profile.uuid)">
  <!-- Page Content -->
  <div class="ui page content container">
    <div class="ui one column grid">
      <div class="bottom aligned row">
        <div class="eleven wide column">
          <!-- Page Title -->
          <h1 class="ui header">{{orgName}} <div class="ui teal basic label" *ngIf="profile.organizations.length > 0">{{profile.organizations[0].role}}</div></h1>
        </div>
        <div class="one wide column"> </div>
        <div class="four wide column" *ngIf="!isRoleMember()">
          <!-- Page Section Title -->
          <h4 class="ui upper header">Quick Links</h4>
        </div>
      </div>
      <div class="top aligned row">
        <div class="eleven wide column">
          <!-- Page Content Cards -->
          <div class="ui selection three stackable cards">
            <a class="card" [class.simple]="item.id > 0" [ngClass]="{'purple promotion': item.id == 0}"
              *ngFor='let item of navItems' (click)="directToPage(item.directURL)" [style.display]="isHideItem(item) ? 'none' : 'block'">
              <div class="app image"><img src="{{item.imageUrl}}" width="60px" height="60px" alt="{{item.imageAlt}}"></div>

              <div class="centered content">
                <div class="header">{{item.name}}</div>
                <div class="description">{{item.description}}</div>
              </div>
            </a>
          </div>
        </div>
        <div class="one wide column"></div>
        <div class="four wide column" *ngIf="!isRoleMember()">
          <!-- Quick Selection List -->
          <app-quicklinks [role]="profile.organizations[0].role"></app-quicklinks>
        </div>
      </div>
    </div>
  </div>
</div>