<div class="ui middle aligned quick selection divided list">
  <div class="item" *ngFor='let quicklink of quicklinks' (click)="processQuickLink(quicklink.eventName)"
      [style.display]="isHideItem(quicklink) ? 'none' : 'list-item'">
    <i class="{{quicklink.icon}} icon"></i>
    <div class="content">
      {{quicklink.content}}
    </div>
  </div>
</div>